<div class="container my-5 d-flex justify-content-center">
  <div class="w-50">
    <h1 class="title mb-5 text-center">Create your next booking</h1>

    <% if @book.stock_quantity == 0 %>
      <div class="alert alert-warning">
        <p>This book is out of stock and cannot be booked at the moment.</p>
      </div>
    <% else %>
      <%= form_with model: [@book, @booking], local: true do |form| %>
        <div class="form-group mb-4">
          <%= form.label :start_date, class: "form-label" %>
          <div class="d-flex">
            <div class="me-2">
              <%= form.date_select :start_date,
                { start_year: Date.today.year,
                  end_year: Date.today.year + 1,
                  include_blank: false,
                  prompt: { day: 'Day', month: 'Month', year: 'Year' } },
                { class: "form-select", prompt: { day: 'Day', month: 'Month', year: 'Year' } } %>
            </div>
          </div>
        </div>

        <div class="form-group mb-4">
          <%= form.label :end_date, class: "form-label" %>
          <div class="d-flex">
            <div class="me-2">
              <%= form.date_select :end_date,
                { start_year: Date.today.year,
                  end_year: Date.today.year + 1,
                  include_blank: false,
                  prompt: { day: 'Day', month: 'Month', year: 'Year' } },
                { class: "form-select", prompt: { day: 'Day', month: 'Month', year: 'Year' } } %>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <%= form.submit "Create booking", class: "btn btn-book btn-product-l" %>
        </div>
      <% end %>
    <% end %>

    <div class="text-center my-3">
      <%= link_to 'Back to book', book_path(@book), class: "btn btn-book btn-product-l" %>
    </div>
  </div>
</div>
