<div class="container text-center my-5">
  <h1 class="mb-5">Welcome to BookHost!</h1>
  <p class="lead">Rent your favorite books and embark on a literary journey!</p>

  <%= link_to "Book a book", books_path, class: "btn btn-book btn-lg" %>

  <div class="cta-section my-5">
    <h2 class="mb-4">Join our community!</h2>
    <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-book btn-lg" %>
  </div>

  <ul class="container">
    <% @books.each do |book| %>
    <li>
      <div class="card-book">
        <%= cl_image_tag book.cover.key, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= book.author %> - <%= book.title %></h5>
          <p class="card-text"><%= book.description %></p>
          <div class="card-button">
            <%= link_to "View book", book_path(book.id), class: "btn btn-book" %>
          </div>

        </div>
      </div>
    </li>
    <% end %>
  </div>
</div>
