<div class="container text-center my-5">
  <h1 class="mb-5">Welcome to BookHost!</h1>
  <p class="lead">Rent your favorite books and embark on a literary journey!</p>

  <%= link_to "Book a book", books_path, class: "btn btn-success btn-lg" %>

  <div class="cta-section my-5">
    <h3 class="mb-4">Join our community!</h3>
    <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>

  <div class="row gap-3">
    <% @books.each do |book| %>
      <div class="card">
        <%= cl_image_tag book.cover.key, class: "card-image" %>
        <div class="card-content">
          <h2 class="card-title"><%= book.title %></h2>
          <p class="card-author"><%= book.author %></p>
          <%= link_to "View book", book_path(book.id), class: "btn btn-success btn-lg view-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
