<div class="container text-center my-5">
  <h1 class="mb-5">Welcome to BookHost!</h1>
  <p class="lead">Rent your favorite books and embark on a literary journey!</p>

  <%= link_to "Book a book", books_path, class: "btn btn-success btn-lg" %>

  <div class="cta-section my-5">
    <h3 class="mb-4">Join our community!</h3>
    <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>

  <ul>
    <% @books.each do |book| %>
      <li>
        <strong><%= book.title %></strong> par <%= book.author %><br>
        <em>Genre:</em> <%#= book.genre %><br>
        <em>Publisher:</em> <%#= book['publisher'] %><br>
        <em>ISBN:</em> <%= book.isbn %><br>
        <em>Published Date:</em> <%#= book['published'] %><br>
        <em>Description:</em> <%#= book['description'] %><br>
        <img src="<%= book.image_url %>" alt="Book Cover">
      </li>
    <% end %>
  </ul>
</div>
