<div class="container text-center my-5">
  <h1 class="mb-5">Our Books</h1>

  <div class="search-bar my-4">
    <%= form_tag books_path, method: :get, class: "form-inline d-flex justify-content-center" do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search for books, authors...", class: "form-control mr-2" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="row gap-3">
    <% @books.each do |book| %>
      <div class="card">
        <%= cl_image_tag book.cover.key, class: "card-image" %>
        <div class="card-content">
          <h2 class="card-title"><%= book.title %></h2>
          <p class="card-author"><%= book.author %></p>
          <%= link_to "View book", book_path(book.id), class: "btn btn-success btn-lg view-btn" %>
        </div>
      </div>
    <% end %>
</div>
