<div class="container text-center my-5">
  <h1 class="mb-5">Our Books</h1>

  <div class="search-bar my-4">
    <%= form_tag books_path, method: :get, class: "form-inline d-flex justify-content-center" do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search for books, authors...", class: "form-control mr-2" %>
      <%= submit_tag "Search", class: "btn btn-book" %>
    <% end %>
  </div>


  <ul class="container">
    <% @books.each do |book| %>
    <li>
      <div class="card-book">
        <%= cl_image_tag book.cover.key, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= book.author %> - <%= book.title %></h5>
          <p class="card-text"><%= book.description %></p>
          <div class="card-button">
            <%= link_to "View book", book_path(book.id), class: "btn btn-book" %>
          </div>

            <% if book.stock_quantity == 0 %>
              <p class="text-danger">Out of stock</p>
              <% if book.out_of_stock_until %>
                <p>Available again after: <%= book.out_of_stock_until.strftime('%B %d, %Y') %></p>
              <% end %>
            <% else %>
              <p>Stock: <%= book.stock_quantity %> available</p>
            <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </div>
</ul>
