<div class="container text-center my-5">
  <h1 class="mb-5">Our Books</h1>

  <div class="search-bar my-4">
    <%= form_tag books_path, method: :get, class: "form-inline d-flex justify-content-center" do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search for books, authors...", class: "form-control mr-2" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <ul class="row p-0 g-3">
    <% @books.each do |book| %>
      <li class="col-12 col-md-6 col-lg-6 card p-3 rounded">
        <strong><%= book.title %></strong> par <%= book.author %><br>
        <%= link_to "View book", book_path(book.id), class: "btn btn-success btn-lg view-btn" %>
        <img src="<%= book.image_url %>" alt="Book Cover">
      </li>
    <% end %>
  </ul>
</div>
