<div class="container my-5 card-product">
  <div class="product-title">
    <h1><%= @book.title %></h1>
    <span>by <strong><%= @book.author %></strong></span>
  </div>

  <div class="row mt-5">
    <div class="product-desc">
      <%= cl_image_tag @book.cover.key, class: 'product-image', alt: 'Book Cover' %>
      <p class="book-desc"> <%= @book.description %></p>
    </div>
      <ul class="product-detail">
        <li><em>ISBN:</em> <%= @book.isbn %></li>
        <li><em>Owner:</em> <%= @book.seller.first_name %> <%= @book.seller.last_name %></li>
        <li><em>Added:</em> <%= @book.created_at.strftime("%B %d, %Y at %I:%M %p") %></li>
        <li><em>Stock:</em> <%= @book.stock_quantity %></li>
      </ul>
      <div class="product-button">
        <%= link_to "Rent this Book #{@book.price}€/month", new_book_booking_path(@book), class: 'btn btn-book' %>
      </div>

    </div>
  </div>

</div>
