<div class="container my-5 card-product">
  <div class="product-title">
    <h1><%= @book.title %></h1>
    <span>by <strong><%= @book.author %></strong></span>
  </div>

  <div class="row mt-5">
    <div class="product-desc">
      <%= cl_image_tag @book.cover.key, class: 'product-image', alt: 'Book Cover' %>
      <p class="book-desc"> <%= @book.description %></p>

      <ul class="product-detail">
        <li><em>ISBN:</em> <%= @book.isbn %></li>
        <li><em>Owner:</em> <%= @book.seller.first_name %> <%= @book.seller.last_name %></li>
        <li><em>Added:</em> <%= @book.created_at.strftime("%B %d, %Y at %I:%M %p") %></li>
        <li><em>Stock:</em> <%= @book.stock_quantity %></li>
      </ul>
    </div>

    <div class="product-button">
      <% if @book.stock_quantity == 0 %>
        <p class="text-danger">This book is currently out of stock.</p>

        <% if @book.out_of_stock_until.present? %>
          <p>This book will be available again after: <%= @book.out_of_stock_until.strftime('%B %d, %Y') %></p>
        <% end %>
      <% else %>
          <%= link_to "Rent this Book #{@book.price}€/month", new_book_booking_path(@book), class: 'btn btn-book btn-product-r' %>
          <% if @book.seller != current_user %>
            <%= link_to "Contact seller", new_message_path(receiver_id: @book.seller.id), class: 'btn btn-book btn-product-l' %>
          <% end %>
        </div>
      <% end %>

  </div>
</div>
