<div class="container my-5">
  <h1><%= @book.title %></h1>
  <span>par <strong><%= @book.author %></strong></span>

  <div class="row mt-5">
    <img class="col-12 col-md-6" src="<%= @book.image_url %>" alt="Book Cover">
    <div class="col-12 col-md-6">
    <strong>Details</strong>
    <ul class="my-2">
      <li><em>ISBN:</em> <%= @book.isbn %></li>
      <li><em>Owner:</em> <%= @book.seller.first_name %> <%= @book.seller.last_name %></li>
      <li><em>Added:</em> <%= @book.created_at %></li>
      <li><em>Stock:</em> <%= @book.stock_quantity %></li>
    </ul>
    <p class="mt-4"><em><%= @book['description'] %></em></p>
      <%= link_to "Rent this book for #{@book.price}€/month", "", class: "btn btn-success btn-lg my-5" %>
       </div>
  </div>

</div>
